{% extends "workshops/layout.html" %}

{% block title %}
    CAP - Workshops
{% endblock %}

{% block body %}
    <div class="my-3 mx-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <!--Create new workshop button for admins-->
        {% if request.user.profile.role == 'admin' %}
            <div class="mb-4">
                <a href="{% url 'workshops:create_workshop' %}" class="btn btn-lg btn-success">Create New Workshop</a>
            </div>
        {% endif %}

        {% if not workshops or workshops.count == 0 %}
            <div>
                No workshops materials available, please check back later!
            </div>
        {% endif %}

        <div class="row">
            {% regroup workshops by grade as grade_groups %}

            {% for group in grade_groups %}
                <div class="col-md-6 mb-4">
                    <h2><u>{{ group.grouper }}th Grade Workshops</u></h2>
                    {% for workshop in group.list %}
                        <div class="workshop card shadow-sm mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'workshops:workshop_details' workshop.id %}">
                                        Workshop #{{ workshop.number }}: {{ workshop.name }}
                                    </a>
                                </h5>
                                <p class="card-text">{{ workshop.description }}</p>
                                {% if request.user.profile.role == 'admin' %}
                                    <div class="d-inline-flex align-items-center gap-2">
                                        <a 
                                            href="{% url 'workshops:edit_workshop' workshop.id %}" 
                                            class="btn btn-sm btn-warning"
                                        >
                                            Edit
                                        </a>
                                        <button 
                                            type="button" 
                                            class="btn btn-sm btn-danger" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#deleteWorkshop{{ workshop.id }}"
                                        >
                                            Delete
                                        </button>
                                        <div class="form-check form-switch">
                                            <input 
                                                class="form-check-input" 
                                                type="checkbox" 
                                                id="workshop-visible-{{ workshop.id }}" 
                                                {% if workshop.visible %}checked{% endif %}
                                            >
                                            <label style="font-size: 0.875rem;">
                                                Visible to {{ group.grouper }}th Grade Cohort
                                            </label>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                            </div>
                        </div>

                        <!-- Modal when deleting -->
                        <div 
                            class='modal fade' 
                            id="deleteWorkshop{{ workshop.id }}" 
                            tabindex="-1" 
                            aria-labelledby="deleteWorkshopModalLabel{{ workshop.id }}" 
                            aria-hidden="true"
                        >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteWorkshopModalLabel{{ workshop.id }}">Delete Workshop</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Are you sure you want to delete <strong>Workshop #{{ workshop.number }}: {{ workshop.name }}</strong>?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'workshops:delete_workshop' workshop.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">
                                                Yes
                                            </button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const visibleCheckboxes = document.querySelectorAll('[id^="workshop-visible"]');

            visibleCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", (event) => {
                    const workshopId = checkbox.id.split("-")[2];
                    fetch('/workshops/admin/edit-visibility/' + workshopId + "/", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ checked: event.target.checked })
                    })
                    .then((response) => {
                        response.json();
                    })
                    .then((data) => {
                        console.log('Visibility changed', data);
                    })
                    .catch((error) => {
                        console.error('Error changing visibilty', error);
                    });
                });
            });

        });
    </script>
{% endblock %}