{% extends "users/new_user_signup_layout.html" %}

{% block body %}
    <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">Create new user</h1> 
        <form action="{% url 'users:create' role %}" method="post">
            {% csrf_token %}
            <div class="form-floating">
                <input 
                    class="form-control"
                    id="first_name" 
                    autocomplete="off" 
                    autofocus 
                    type="text" 
                    name="first_name" 
                    required
                >
                <label for="first_name">First Name</label>
            </div>
            <div class="form-floating">
                <input 
                    class="form-control"
                    id="last_name"
                    autocomplete="off" 
                    type="text" 
                    name="last_name" 
                    required
                >
                <label for="last_name">Last Name</label>
            </div>
            <div class="form-floating">
                <input
                    class="form-control"
                    id="email"
                    autocomplete="off" 
                    type="text" 
                    name="email" 
                    required
                >
                <label for="email">Email</label>
            </div>
            <div class="form-floating">
                <input
                    class="form-control"
                    id="password"
                    autocomplete="off" 
                    type="password" 
                    name="password" 
                    required
                >
                <label for="password">Enter Password</label>
            </div>
            <div class="form-floating">
                <input 
                    class="form-control"
                    id="password_reentry"
                    autocomplete="off" 
                    type="password" 
                    name="password_reentry" 
                    required
                >
                <label for="password_reentry">Re-enter Password</label>
            </div>
            <!-- If the role is mentee, then we want them to select their mentor from the list -->
            {% if mentors %}
                <hr>
                <div class="form-floating">
                    <input 
                        class="form-control"
                        id="graduation_year" 
                        autocomplete="off"  
                        type="number" 
                        name="graduation_year"
                        value="{{ profile.graduation_year }}" 
                        required
                    >
                    <label for="graduation_year">Graduation Year</label>
                </div>
                <div class="form-floating">
                    <select class="form-select" name="mentor" id="mentor_name" required>
                        <option value="" disabled selected>Select Your Mentor</option>
                        {% for mentor in mentors %}
                            <option value="{{ mentor.user.id }}">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="mentor_name">Mentor Name</label>
                </div>
            {% endif %}

            <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
        </form>

        {% if message %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endif %}

        <a href="{% url 'users:login' %}">Back to Login</a>
    </main>
{% endblock %}