{% extends "users/layout.html" %}

{% block title %}
    Edit Profile - CAP Web App
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container mt-5 mb-5" style="max-width: 500px;">
        <h1 class="mb-4">Edit Profile: {{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
        <form method="post" action="{% url 'users:edit_profile' %}">
            {% csrf_token %}
            {% if profile.role == 'mentee' %}
                <div class="mb-3">
                    <div class="form-floating">
                        <input 
                            class="form-control"
                            id="graduation_year" 
                            autocomplete="off"  
                            type="number" 
                            name="graduation_year"
                            value="{{ profile.graduation_year }}" 
                            required
                        >
                        <label for="graduation_year">Graduation Year</label>
                    </div>
                </div>
                <hr>
            {% elif profile.role == 'mentor' %}
                <div class="mb-3">
                    <div class="form-floating">
                        <input 
                            class="form-control"
                            id="college_attended" 
                            autocomplete="off"  
                            type="text" 
                            name="college_attended"
                            value="{{ profile.college_attended }}"
                            required
                        >
                        <label for="college_attended">College Attended</label>
                    </div>
                    <div class="form-floating">
                        <input 
                            class="form-control"
                            id="college_major" 
                            autocomplete="off"  
                            type="text" 
                            name="college_major" 
                            value="{{ profile.college_major }}"
                            required
                        >
                        <label for="college_major">College Major</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="experience" autocomplete="off" name="experience" required style="min-height: 120px;">{{ profile.experience }}</textarea>
                        <label for="experience">Professional Experience</label>
                    </div>
                </div>
                <hr>
            {% endif %}
            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control" id="interests" autocomplete="off" name="interests" required style="min-height: 120px;">{{ profile.interests }}</textarea>
                    <label for="interests">Professional / Personal Interests</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="other" autocomplete="off" name="other" required style="min-height: 150px; padding-top: 4.5rem">{{ profile.other }}</textarea>
                    <label className="d-block" for="other" aria-describedby="other-description" style="width: 100%; white-space: normal;">
                        <div>Other Comments</div>
                        <small id="other-description" className="form-text text-muted">What are you looking forward to during your time in CAP? Anything else you'd like to share?</small>
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
    </div>
{% endblock %}