{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        <link rel="icon" type="image/png" href="{% static 'icons/favicon-96x96-TEMP.png' %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static 'icons/favicon-TEMP.svg' %}" />
        <link rel="shortcut icon" href="{% static 'icons/favicon-TEMP.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon-TEMP.png' %}" />
        <meta name="apple-mobile-web-app-title" content="Apex CAP" />
        <link rel="manifest" href="{% static 'manifest.json' %}" />
        <meta name="theme-color" content="#ffffff" />

        <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
        <script>
            window.OneSignalDeferred = window.OneSignalDeferred || [];
            OneSignalDeferred.push(async function(OneSignal) {
                // Create a custom flag to avoid calling init if it was already called
                if (window.__oneSignalInit) return;

                await OneSignal.init({
                    appId: "dce8adf1-552d-4b68-ae13-0ee2688ee21d",
                    // safari_web_id: "web.onesignal.auto.253751a8-ac24-4181-97da-883dbdadac49",
                    notifyButton: {
                        enable: true,
                        size: 'medium',
                        position: 'bottom-left',
                        offset: { bottom: '50px', left: '10px' },
                        showCredit: false,
                        displayPredicate: async () => {
                            // Hide the bell after user is subscribed
                            return !OneSignal.User.PushSubscription.optedIn;
                        }
                    }
                    // serviceWorkerPath: "/OneSignalSDKWorker.js",
                    // serviceWorkerParam: { scope: "/" }
                });

                window.__oneSignalInit = true;

                const userId = "{{ user.id|escapejs }}"

                if (OneSignal.Notifications.permission) {
                    await OneSignal.login(userId);
                } else {
                    /* If permission was not granted yet, wait for user to grant permission */
                    OneSignal.Notifications.addEventListener("permissionChange", async (permission) => {
                        if (permission) {
                            await OneSignal.login(userId);
                        }
                    });
                }

            });
        </script>
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        <!-- <button id="enable-push" style="display: none;">🔔 Enable Notifications</button> -->
        {% block body %}
        {% endblock %}
        
        
    </body>
</html>