{% extends "users/layout.html" %}

{% block body %}
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Login">
    </form>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if form.errors %}
        <div>Your username and password didn't match. Please try again.</div>
    {% endif %}

    <div>
        <a href="{% url 'users:create' %}">Create an Account</a>
    </div>
{% endblock %}