{% extends "users/layout.html" %}

{% block body %}
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Email:</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Login">
    </form>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if messages %}
        {% for i in messages %}
            <div>{{ i }}</div>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        <div>Your username and password didn't match. Please try again.</div>
    {% endif %}

    <div>
        <a href="{% url 'users:reset_password' %}">Forgot Password</a>
    </div>
    <div>
        <a href="{% url 'users:create_user_get_role' %}">Create an Account</a>
    </div>
{% endblock %}