{% extends "users/no_navbar_layout.html" %}

{% load widget_tweaks %}

{% block title %}
    Reset Password - CAP Web App
{% endblock %}

{% block body %}
    <div class="container mt-5" style="max-width: 500px;">
        <h1 class="mb-4">Reset Password</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating">
                {{ form.email|add_class:"form-control" }}
                <label for="{{ form.email.id_for_label }}">Email address</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
{% endblock %}