<!-- Desktop nav bar, duplicate of frontend/src/components/Navbar.js -->
<!-- Because we have core/context_processors.py and linked it in settings.py, we can use nav_links-->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand">CAP Web App</span>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% for link in nav_links %}
                    {% if link.children %}
                        <li class="nav-item dropdown">
                            <a 
                                class="nav-link dropdown-toggle"
                                href="#" 
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                {{ link.name }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    {% for child in link.children %}
                                        <a class="dropdown-item" href="{{ child.path }}">{{ child.name }}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            {% if link.method == "get" %}
                                <a class="nav-link" href="{{ link.path }}">{{ link.name }}</a>
                            {% elif link.method == "post" %}
                                <form id="logout-form" action="{{ link.path }}" method="post">
                                    {% csrf_token %}
                                    <button id="logout-btn" type="submit" class="nav-link">{{ link.name }}</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const logoutBtn = document.getElementById('logout-btn');
        if (!logoutBtn) return;

        logoutBtn.addEventListener('click', (event) => {
            // Prevent normal form submit
            event.preventDefault();

            // Tear down Beams client
            if (window.beamsClient) {
                window.beamsClient.stop().catch(console.error);
            }

            // Proceed
            document.getElementById('logout-form').submit();
        });
    });
</script>